*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #E8C107;
    border-radius: 6px;
}

::-webkit-scrollbar-track{
    background-color: black;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: black;
    font-family:"Poppins", sans-serif;
    display: flex;
    justify-content: center;
}

.confirm{
    padding: 20px 40px;
    background-color: #E8C107;
    color: black;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    margin: 20px;
    border-radius: 20px;
}

.confirm #p2{
    margin-top: 20px;
}

.confirm #Proceedbtn{
    margin-top: 10px;
    padding: 10px 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-family:"Poppins", sans-serif;
    outline: 0;
}

.registration{
    padding: 20px 40px;
    background-color: #E8C107;
    color: black;
    width: fit-content;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 20px;
    border-radius: 20px;
    
}

#name{
    margin-top: 20px;
}



#Name{
    padding: 10px 10px;
    outline: 0;
    border: solid black 3px;
    margin-top: 10px;
    font-family:"Poppins", sans-serif;
    font-size: 14px;
}

.registration p{
    font-weight: 500;
}

#mobileNo{
    padding: 10px 10px;
    outline: 0;
    border: solid black 3px;
    margin-top: 10px;
    font-family:"Poppins", sans-serif;
    font-size: 14px;
}

#emailid{
    padding: 10px 10px;
    outline: 0;
    border: solid black 3px;
    margin-top: 10px;
    font-family:"Poppins", sans-serif;
    font-size: 14px;
}

#address{
    padding: 10px 10px;
    outline: 0;
    border: solid black 3px;
    margin-top: 10px;
    font-family:"Poppins", sans-serif;
    font-size: 14px;
}

#city{
    padding: 10px 10px;
    outline: 0;
    border: solid black 3px;
    margin-top: 10px;
    font-family:"Poppins", sans-serif;
    font-size: 14px;
    margin-right: 10px;
}

#state{
    padding: 10px 10px;
    outline: 0;
    border: solid black 3px;
    margin-top: 10px;
    font-family:"Poppins", sans-serif;
    font-size: 14px;
    margin-right: 10px;

}

#postalcode{
    padding: 10px 10px;
    outline: 0;
    border: solid black 3px;
    margin-top: 10px;
    font-family:"Poppins", sans-serif;
    font-size: 14px;
    

}

.csp{
    display: flex;
    flex-direction: row;
}

#licenseNo{
    padding: 10px 10px;
    outline: 0;
    border: solid black 3px;
    margin-top: 10px;
    font-family:"Poppins", sans-serif;
    font-size: 14px;
}

.route{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

#selected-city-from{
    padding: 10px 10px;
    outline: 0;
    border: solid black 3px;
    margin-top: 10px;
    font-family:"Poppins", sans-serif;
    font-size: 14px;
    margin-right: 20px;
    margin-left: 20px;
}

#selected-city-to{
    padding: 10px 10px;
    outline: 0;
    border: solid black 3px;
    margin-top: 10px;
    font-family:"Poppins", sans-serif;
    font-size: 14px;
    margin-left: 20px;
}

#carsdropdown{
    padding: 10px 10px;
    outline: 0;
    border: solid black 3px;
    margin-top: 10px;
    font-family:"Poppins", sans-serif;
    font-size: 14px;
    
}

#submitform{
    padding: 10px 40px;
    background-color: black;
    color: #E8C107;
    outline: 0;
    border: #E8C107 solid 3px;
    width: fit-content;
    font-family:"Poppins", sans-serif;
    margin-top: 30px;
    border-radius: 20px;
    cursor: pointer;  
}

#submitform:hover{
    color: black;
    border: black 3px solid;
    background-color: white;
}

@media (max-width: 768px) {

    .csp{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    #city{
        margin-right: 0;
    }

    #state{
        margin-right: 0;
    }




}