/* Css stands for the cascading style sheet and it is used to design the webpage and style the html elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #E8C107;
    border-radius: 6px;
}

::-webkit-scrollbar-track{
    background-color: black;
}

html, body{
    width: 100%;
    height: 100%;
    background: black;
    color: #E3AF17;
    overflow-x: hidden;
    overflow-y: visible;
    font-family:"Poppins", sans-serif;
}

.navbar{
    width: 100vw;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid #E3AF17 3px;
    background-color: black;
}

.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar ul li{
    margin-right: 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: #E3AF17;
    text-decoration: none;
}

.navbar ul li a:hover{
    transition: transform 0.5s;
    transform: scale(1.1);
    cursor: pointer;
    color: whitesmoke;
}

.navbar h1{
    font-size: 30px;
    font-weight: 900;
    color: whitesmoke;
}

.navbar ul .contactli a{
    color: black;
    background: whitesmoke;
    padding: 7px;
    border-radius: 30px;
    margin-right: -4px;
    
}

.navbar ul .contactli a:hover{
    background-color: #E3AF17;
    color: black;
    
}

/* Header section starts here */

.header{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container1{
    width: 55%;
    height: 100vh;
    padding: 9vmax 40px;
}

.header .container1 h1{
    font-size: 60px;
    color: whitesmoke;
}

.header .container1 #para1{
        
    font-size: 40px;
    color: whitesmoke;
    margin-top: 10px;
}

.header .container1 #p1{
    width: 50vmax;
    font-size: 21px;
    color: #E3AF17;
    margin-top: 20px;
}

.header .container1 button{
    margin-top: 40px;
    background: #E3AF17;
    color: black;
    padding: 10px 30px 10px;
    border: solid #E3AF17;
    border-radius: 20px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.header .container1 button:hover{
    background: white;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.header .container2{
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    position: relative;
}

.container2 .containerdiv1{
    width: fit-content;
    border: solid 2px #E3AF17;
    padding: 10px;
    margin: 10px;
    position: absolute;
    border-radius: 10px;
}

.container2 .containerdiv1 img{
    width: 17vw;
    border-radius: 10px;
}

.container2 .containerdiv2{
    position: absolute;
    width: fit-content;
    border: solid 2px #E3AF17;
    padding: 10px;
    margin: 10px;
    top: 13vmax;
    left: 23vmax;
    border-radius: 10px;
}

.container2 .containerdiv2 img{
    width: 17vw;
    border-radius: 10px;
}

.container2 .containerdiv3{
    position: absolute;
    width: fit-content;
    border: solid 2px #E3AF17;
    padding: 10px;
    margin: 10px;
    top: 24vmax;
    border-radius: 10px;
}

.container2 .containerdiv3 img{
    width: 17vw;
    border-radius: 10px;
}



/* Header section Ends here */


/* Rent section start here */

.rent{
    width: 100%;
    height: auto;
    background: black;
    margin-top: 10vmax;
    margin-bottom: 15vmax;
    padding: 30px 40px;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    flex-direction: column;
}

.rent h1{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

.rental-info{
    display: flex;
    flex-direction: row;
    padding: 20px 2vmax;
    justify-content: space-between;
}

.rental-info .car-img{
    padding: 10px 30px;
    border: solid 3px #E3AF17;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 20px;
}

.rental-info .car-img:hover{
    border: solid 3px #fff;
}

.rental-info .car-img img{
    border-radius: 10px;
    width: 30vmax;
}

.rental-info .customer-info{
    display: flex;
    flex-direction: column;
}

.rental-info .customer-info .info1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info1 div{
    width: 190px;
    background: #E3AF17;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 15px;
    color: black;
}

.info1 div:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}

.pick input{
    background: white;
    color: black;
    padding: 3px 10px;
    font-family: "Poppins", sans-serif;
    outline: 0;
    border: 0;
    border-radius: 10px;
}

.city select{
    background: white;
    color: black;
    padding: 3px 10px;
    font-family: "Poppins", sans-serif;
    outline: 0;
    border: 0;
    border-radius: 10px;
    
}

.option select{
    background: white;
    color: black;
    padding: 3px 10px;
    font-family: "Poppins", sans-serif;
    outline: 0;
    border: 0;
    border-radius: 10px;
}

.customer-info button{
    margin-top: 40px;
    width: 10vmax;
    background: #E3AF17;
    color: black;
    padding: 10px 30px 10px;
    border: solid #E3AF17;
    border-radius: 20px;
    margin-left: 10px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.customer-info button:hover{
    background: white;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.info2 form{
    display: flex;
    flex-direction: column;
}

.customer-info .info2 form input{
    margin-top: 10px;
    background: black;
    color: #fff;
    padding: 10px 10px;
    border: solid #E3AF17;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    outline: 0;
}

.customer-info .info2 form input:hover{
    border: solid #fff;
    transition: 0.5s;
}

/* Rent section ends here */

.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.line div{
    width: 5vmax;
    height: 3px;
    background-color: #E3AF17;
    margin: 10px;
    border-radius: 5px;
}

.line i{
    color: #fff;
}

/* services section start here */

.service{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-bottom: 10vmax;
    margin-top: 5vmax;
    padding-top: 2vmax;

}

.service h1{
    font-size: 35px;
    margin-top: 10px;
    text-align: center;
}

.service .services{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 80px;
    margin-top: 20px;
}

.service .services .service-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23vmax;
    background-color: #fff;
    padding:20px 30px;
    border: solid 4px #E3AF17;
    border-radius: 10px;
    
}

.service .services .service-container p{
    text-align: center;
    color: black;
    margin: 10px 0px;

}

.service .services .service-container button{
    padding: 7px 15px;
    font-family: "Poppins", sans-serif;
    background: #E3AF17;
    border: solid #E3AF17;
    border-radius:20px;
    margin-top: 10px;
    cursor: pointer;
}

.service .services .service-container button i{
    margin-left: 5px;
}

.service .services .service-container button:hover{
    background: white;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.service .services .service-container:hover{
    transform: scaleY(1.1);
    transition: transform 0.5s;
}

.service .services .service1{
    display: flex;
    align-items: center;
}

.service .services .service1 i{
    margin-right: 20px;
}

.service .services .service1 p{
    color: black;
    font-size: 20px;
    font-weight: 700;
}
/* services section ends here */

/* Car section starts here */
.cars{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 10vmax;
    margin-top: 5vmax;
    padding-top: 2vmax;
}

.cars h1{
    font-size: 35px;
    margin-top: 10px;
    text-align: center;
}

.cars .cars-details{
    display: flex;
    flex-direction: row;
    padding: 70px 20vmax;
    
}

.cars .cars-details .carimgdiv{
    padding: 20px;
    border: solid 3px #E3AF17;
    border-radius: 10px;
    margin-right: 20px;
    width: 35vmax;
    height: 23vmax;
}

.cars .cars-details .carimgdiv img{
    border-radius: 10px;
    width: 30vmax;
    height: 20vmax;
}

.cars .cars-details .carimgdiv:hover{
    border: solid 3px white;
    transition: 1s;
}



.details{
    display: flex;
    flex-direction: column;
}

.details .getdetails{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.details .getdetails select{
    margin: 0px 20px;
    background: black;
    color: #fff;
    padding: 10px 20px;
    border: solid #E3AF17 3px;
    border-radius: 10px;
    outline: #E3AF17;
    font-family: "Poppins", sans-serif;
}

.details .getdetails button{
    padding: 7px 15px;
    font-family: "Poppins", sans-serif;
    background: #E3AF17;
    border: solid #E3AF17;
    border-radius:20px;
    cursor: pointer;
}

.details .getdetails button i{
    margin-left: 10px;
}

.details .getdetails button:hover{
    background: white;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.car-info{
    display: flex;
    flex-direction: row;
}

.car-info div{
    padding: 10px 20px;
    border: solid 3px #E3AF17;
    border-radius: 10px;
    margin: 10px 10px 0px 20px;
    
}

.car-info div p{
    color: #fff;
}

.car-info #div1{
    width: 9vmax;
}

.car-info #div2{
    width: 12vmax;
}

.car-info #div1:hover{
    border: solid 3px white;
    transition: 1s;
}

.car-info #div2:hover{
    border: solid 3px white;
    transition: 1s;
}

/* Car section ends here */

/* Contact us start's here */
.contact{
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 2vmax;
    margin-bottom: 10vmax;
}

.contact h1{
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}

.contact-info{
    display: flex;
    flex-direction: row;
    padding: 50px 130px;
}

.contact-info .contact-div1{
    width: 20vmax;
    background: #fff;
    color: black;
    padding: 10px 20px;
    border-radius: 15px;
}

.contact-info .contact-div1 i{
    color: #E3AF17;
}



.contact-info .contact-div1 #para1{
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.contact-info .contact-div1 #para2{
    margin: 10px 0px 30px;
}

.contact-para{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px 10px 0px;
}

.contact-para i{
    margin-right: 10px;
    text-align: center;
}
.contact-para p{
    text-align: center;
    font-size: 15px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 60px;
}

.links i{
    margin-right: 10px;
}

.contact-info .contact-div2{
    width: 100%;
    margin-left: 20px;
}

.contact-div2 form{
    display: flex;
    flex-direction: column;
}

.contact-info .contact-div2 input{
    padding: 10px 10px;
    margin-bottom: 20px;
    
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    background: black;
    border: solid 3px #E3AF17;
    outline: 0;
    color: #fff;
}

.contact-info .contact-div2 textarea{
    resize: none;
    margin-bottom: 20px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    background: black;
    border: solid 3px #E3AF17;
    outline: 0;
    color: #fff;
    padding: 5px 10px;
    height: 120px;
}

.contact-info .contact-div2 button{
    width: 10vmax;
    padding: 7px 15px;
    font-family: "Poppins", sans-serif;
    background: #E3AF17;
    border: solid #E3AF17;
    border-radius:20px;
    cursor: pointer;
}

.contact-info .contact-div2 button i{
    margin-left: 10px;
}

.contact-info .contact-div2 button:hover{
    background: white;
    transform: scale(1.1);
    transition: transform 0.5s;
}

#name:hover{
    border: solid #fff;
}

#email:hover{
    border: solid #fff;
}

#message:hover{
    border:solid #fff;
}

/* Contact us end's here */

footer{
    width: 100%;
    height: 30px;
    background: #E3AF17;
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
}




@keyframes moveUpDown {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    100% {
        transform: translateX(-50%) translateY(-30px); /* Adjust the translateY value as needed */
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    ul {
        margin-top: 10px;
        padding: 0;
    }

    li {
        margin: 0;
    }

    .header img {
        display: none;
    }

    .rent{
        display: flex;
        flex-direction: column;
        margin-top: 20vmax;
    }

    .rent h1{
        text-align: center;
    }

    .rental-info{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .rental-info .car-img{
        margin: 20px 0px;
        padding: 10px 10px;
    }

    .rental-info .car-img img{
        width: 90vmax;
    }

    .rental-info .customer-info{
        display: flex;
        flex-direction: column;
    }

    .rental-info .customer-info .info1{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .rental-info .customer-info button{
        width: 20vmax;
    }




   

    .service .services{
        display: flex;
        flex-direction: column;
        
    }

    .service .services .service-container{
        margin: 20px;
        width: 100%;
        height: auto;
    }

    .service .services .service-container:hover{
        transition: transform 0.5s;
        transform: scaleX(1.1);
    }

    .cars{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cars .cars-details{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .carimgdiv{
        margin: 20px 20vmax;
        padding: 20px 18px;
        width: 100%;
    }

    .cars .cars-details .carimgdiv img{
        height: 17vmax;
        margin: 0;
        padding: 0;
    }

    .details{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .car-info{
        display: flex;
        flex-direction: row;
    }

    .car-info #div1{
        margin: 10px 20px;
        padding: 10px;
        width: 20vmax;
    }
    .car-info #div1 p{
        text-align: center;
    }

    .car-info #div2{
        margin: 10px 20px;
        padding: 10px;
        width: 25vmax;
    }

    .car-info #div2 p{
        text-align: center;
    }

    .contact-div1{
        display: none;
    }

    .contact-info{
        margin: 20px 10px;
        padding: 0;
    }

    .contact-div2{
        padding: 0px 10px;
    }

    .contact-info .contact-div2 button{
       width: 25vmax;
    }

    .navbar ul{
        margin-bottom: 10px;
    }


    

}



