/* Css stands for the cascading style sheet and it is used to design the webpage and style the html elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #E8C107;
    border-radius: 6px;
}

::-webkit-scrollbar-track{
    background-color: black;
}

html, body{
    width: 100%;
    height: 100%;
    background: black;
    color: #E3AF17;
    overflow-x: hidden;
    overflow-y: visible;
    font-family:"Poppins", sans-serif;
}

.navbar{
    width: 100vw;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid #E3AF17 3px;
    background-color: black;
}

.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar ul li{
    margin-right: 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: #E3AF17;
    text-decoration: none;
}

.navbar ul li a:hover{
    transition: transform 0.5s;
    transform: scale(1.1);
    cursor: pointer;
    color: whitesmoke;
}

.navbar h1{
    font-size: 30px;
    font-weight: 900;
    color: whitesmoke;
}

.navbar ul .contactli a{
    color: black;
    background: whitesmoke;
    padding: 7px;
    border-radius: 30px;
    margin-right: -4px;
    
}

.navbar ul .contactli a:hover{
    background-color: #E3AF17;
    color: black;
    
}

/* Header section starts here */

.header{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container1{
    width: 55%;
    height: 100vh;
    padding: 9vmax 40px;
}

.header .container1 h1{
    font-size: 60px;
    color: whitesmoke;
}

.header .container1 #para1{
        
    font-size: 40px;
    color: whitesmoke;
    margin-top: 10px;
}

.header .container1 #p1{
    width: 50vmax;
    font-size: 21px;
    color: #E3AF17;
    margin-top: 20px;
}

.header .container1 button{
    margin-top: 40px;
    background: #E3AF17;
    color: black;
    padding: 10px 30px 10px;
    border: solid #E3AF17;
    border-radius: 20px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.header .container1 button:hover{
    background: white;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.header .container2{
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    position: relative;
}

.container2 .containerdiv1{
    width: fit-content;
    border: solid 2px #E3AF17;
    padding: 10px;
    margin: 10px;
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
}

.containerdiv1:hover{
    border: solid 2px white;
    transition: transform 1s;
    transform: scale(1.1);
}



.container2 .containerdiv1 img{
    width: 17vw;
    border-radius: 10px;
}

.container2 .containerdiv2{
    position: absolute;
    width: fit-content;
    border: solid 2px #E3AF17;
    padding: 10px;
    margin: 10px;
    top: 13vmax;
    left: 23vmax;
    border-radius: 10px;
    cursor: pointer;
}

.containerdiv2:hover{
    border: solid 2px white;
    transition: transform 1s;
    transform: scale(1.1);
}

.container2 .containerdiv2 img{
    width: 17vw;
    border-radius: 10px;
}

.container2 .containerdiv3{
    position: absolute;
    width: fit-content;
    border: solid 2px #E3AF17;
    padding: 10px;
    margin: 10px;
    top: 24vmax;
    border-radius: 10px;
    cursor: pointer;
}

.containerdiv3:hover{
    border: solid 2px white;
    transition: transform 1s;
    transform: scale(1.1);
}

.container2 .containerdiv3 img{
    width: 17vw;
    border-radius: 10px;
}

/* Header section Ends here */


/* rent section */

.rentcar{
    width: 100%;
    height: 110vh;
    background-color: rgb(215, 215, 215);
}

.rentheading{
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.rentheading h1{
    color: black;
    font-size: 30px;
}

.imginfo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.autonookimg{
    width: 40%;
    border: solid #E3AF17 6px;
    height: 78vh;
    border-radius: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.autonookimg img{
    width: 30vmax;
    border-radius: 20px;
}

.autonookrentdetailsdiv{
    width: 60%;
    height: 78vh;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.info1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.city{
    background-color: black;
    color: #E3AF17;
    padding: 15px;
    border: solid #E3AF17 3px;
    border-radius: 20px;
}

.option{
    background-color: black;
    color: #E3AF17;
    padding: 15px;
    border: solid #E3AF17 3px;
    border-radius: 20px;
}

.pick{
    background-color: black;
    color: #E3AF17;
    padding: 15px;
    border: solid #E3AF17 3px;
    border-radius: 20px;
}

.city select{
    background: white;
    color: black;
    padding: 3px 10px;
    font-family: "Poppins", sans-serif;
    outline: 0;
    border: 0;
    border-radius: 10px;
    
}

.option select{
    background: white;
    color: black;
    padding: 3px 10px;
    font-family: "Poppins", sans-serif;
    outline: 0;
    border: 0;
    border-radius: 10px;
}

.pick input{
    background: white;
    color: black;
    padding: 3px 10px;
    font-family: "Poppins", sans-serif;
    outline: 0;
    border: 0;
    border-radius: 10px;
}


.autonookrentdetailsdiv button{
    margin-top: 30px;
    width: 10vmax;
    background: black;
    color: #E3AF17;
    padding: 10px 30px 10px;
    border: 2px solid #E3AF17;
    border-radius: 20px;
    margin-left: 10px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.autonookrentdetailsdiv button:hover{
    transform: scale(1.1);
    transition: transform 1s;
}

.info2 form{
    display: flex;
    flex-direction: column;
}

.info2{
    padding: 10px 40px;
    margin-top: 10px;
}

.autonookrentdetailsdiv .info2 form input{
    margin: 20px 0px;
    padding: 10px;
    border: solid 3px black;
    border-radius: 10px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    outline: 0; 
}

.autonookrentdetailsdiv .info2 form input:hover{
    border: solid #E3AF17;
    transition: 0.5s;
}


/* rent section ends */

.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.line div{
    width: 5vmax;
    height: 3px;
    background-color: #E3AF17;
    margin: 10px;
    border-radius: 5px;
}

.line i{
    color: black;
}

/* Driver Registration starts */

.driverregistration{
    width:  100%;
    height: 140vh;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.registrationheading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.registrationheading h1{
    font-size: 29px;
    margin-top: 15px;
}

.citydrivercars{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 120px;
}

.citydrivercars p{
    padding: 25px;
    border: #E3AF17 2px solid;
    text-align: center;
    margin-top: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.citydrivercars p:hover{
    border: solid 2px white;
    transform: scale(1.1);
    transition: transform 1.5s;
    cursor: pointer;
}

.driverregistrationdiv{
    width: 100%;
    padding: 0px 16vmax;
    margin-top: 50px;
}

.test{
    background-color: black;
    width: 100%;
    height: 80vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: solid #E3AF17 3px;
}

.test1{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: url('https://images.unsplash.com/photo-1518614768202-663a3a0ecf59?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    /* background-image: url('https://t4.ftcdn.net/jpg/04/84/65/23/240_F_484652352_9IZQ7THB6xdkMElYnAwba1jCJwmAp1eO.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.test1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value for transparency */
    border-radius: 20px; /* Ensure the overlay matches the border-radius of the main div */
}

.text-overlay {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    z-index: 10; /* Ensure the text is on top of the overlay */
}

.text-overlay h1{
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 31px;
}

.testpara{
    padding: 10px 50px;
    font-size: 21px;
    margin-top: 10px;
}

.testpara1{
    padding: 10px 50px;
    font-size: 21px;
    margin-top: 10px;
}

.registerbtn{
    padding: 8px;
    background-color: white;
    border: solid #E3AF17 3px;
    color: black;
    font-family: "Poppins", sans-serif;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
}






/* Driver Registration ends */

/* Contact us start's here */
.contact{
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 2vmax;
    margin-bottom: 10vmax;
}

.contact h1{
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}

.contact-info{
    display: flex;
    flex-direction: row;
    padding: 50px 130px;
}

.contact-info .contact-div1{
    width: 20vmax;
    background: #fff;
    color: black;
    padding: 10px 20px;
    border-radius: 15px;
}

.contact-info .contact-div1 i{
    color: #E3AF17;
}



.contact-info .contact-div1 #para1{
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.contact-info .contact-div1 #para2{
    margin: 10px 0px 30px;
}

.contact-para{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px 10px 0px;
}

.contact-para i{
    margin-right: 10px;
    text-align: center;
}
.contact-para p{
    text-align: center;
    font-size: 15px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 60px;
}

.links i{
    margin-right: 10px;
}

.contact-info .contact-div2{
    width: 100%;
    margin-left: 20px;
}

.contact-div2 form{
    display: flex;
    flex-direction: column;
}

.contact-info .contact-div2 input{
    padding: 10px 10px;
    margin-bottom: 20px;
    
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    background: black;
    border: solid 3px #E3AF17;
    outline: 0;
    color: #fff;
}

.contact-info .contact-div2 textarea{
    resize: none;
    margin-bottom: 20px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    background: black;
    border: solid 3px #E3AF17;
    outline: 0;
    color: #fff;
    padding: 5px 10px;
    height: 120px;
}

.contact-info .contact-div2 button{
    width: 10vmax;
    padding: 7px 15px;
    font-family: "Poppins", sans-serif;
    background: #E3AF17;
    border: solid #E3AF17;
    border-radius:20px;
    cursor: pointer;
}

.contact-info .contact-div2 button i{
    margin-left: 10px;
}

.contact-info .contact-div2 button:hover{
    background: white;
    transform: scale(1.1);
    transition: transform 0.5s;
}

#name:hover{
    border: solid #fff;
}

#email:hover{
    border: solid #fff;
}

#message:hover{
    border:solid #fff;
}

/* Contact us end's here */

footer{
    width: 100%;
    height: 30px;
    background: #E3AF17;
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
}




@keyframes moveUpDown {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    100% {
        transform: translateX(-50%) translateY(-30px); /* Adjust the translateY value as needed */
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    ul {
        margin-top: 10px;
        padding: 0;
    }

    li {
        margin: 0;
    }

    .header img {
        display: none;
    }

    .rent{
        display: flex;
        flex-direction: column;
        margin-top: 20vmax;
    }

    .rent h1{
        text-align: center;
    }

    .rental-info{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .rental-info .car-img{
        margin: 20px 0px;
        padding: 10px 10px;
    }

    .rental-info .car-img img{
        width: 90vmax;
    }

    .rental-info .customer-info{
        display: flex;
        flex-direction: column;
    }

    .rental-info .customer-info .info1{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .rental-info .customer-info button{
        width: 20vmax;
    }




   

    .service .services{
        display: flex;
        flex-direction: column;
        
    }

    .service .services .service-container{
        margin: 20px;
        width: 100%;
        height: auto;
    }

    .service .services .service-container:hover{
        transition: transform 0.5s;
        transform: scaleX(1.1);
    }

    .cars{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cars .cars-details{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .carimgdiv{
        margin: 20px 20vmax;
        padding: 20px 18px;
        width: 100%;
    }

    .cars .cars-details .carimgdiv img{
        height: 17vmax;
        margin: 0;
        padding: 0;
    }

    .details{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .car-info{
        display: flex;
        flex-direction: row;
    }

    .car-info #div1{
        margin: 10px 20px;
        padding: 10px;
        width: 20vmax;
    }
    .car-info #div1 p{
        text-align: center;
    }

    .car-info #div2{
        margin: 10px 20px;
        padding: 10px;
        width: 25vmax;
    }

    .car-info #div2 p{
        text-align: center;
    }

    .contact-div1{
        display: none;
    }

    .contact-info{
        margin: 20px 10px;
        padding: 0;
    }

    .contact-div2{
        padding: 0px 10px;
    }

    .contact-info .contact-div2 button{
       width: 25vmax;
    }

    .navbar ul{
        margin-bottom: 10px;
    }


    

}



